# Test Directories
test_destination/
sony_test_source/
dji_test_source/
test-results/
playwright-report/

# OS metadata
.DS_Store
Thumbs.db
Desktop.ini

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Environment variables
.env
.env.local

# Electron build outputs (electron-builder / electron-packager)
dist/
out/
build/
release/
*.dmg
*.exe
*.zip

# Other
SDD-training